@import url(common.css);

/* header 전체 -------------------------------------------------- */
#header {
    background-color: var(--bg-color-blue);
    color: var(--color-white);
}
#header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-logo, .menu-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* header 왼쪽 메뉴(로고) -------------------------------------------------- */
.menu-logo {
    cursor: pointer;
    padding-right: var(--tablet-mobile-gutter);
    word-break: keep-all;

}
.menu-logo > img {
    width: 120px;
    transition: var(--width-transition);
}
.menu-logo > h1 {
    font-size: var(--pc-font-small);
    transition: var(--font-transition);
    font-weight: bold;
}

/* header 오른쪽 메뉴 (텍스트) -------------------------------------------------- */
.menu-text {
    text-align: right;
    transition: var(--font-transition);
}
.menu-text > h2, .menu-text > p:nth-of-type(4) { /* 고객센터, ※ 주말 및 공휴일 휴무 */
    font-weight: bold;
}
.menu-text > p:first-of-type { /* 010-5515-2006 */
    color: var(--color-green);
    font-size: 16px;
    font-weight: bold;
    transition: var(--font-transition);
}

/* 미디어 쿼리 -------------------------------------------------- */
/* 768px ~ 1200px */
@media (max-width: 1200px) {
    /* 왼쪽 메뉴(로고) */
    .menu-logo > img {
        width: 80px;
        transition: var(--width-transition);
    }
    .menu-logo > h1 {
        font-size: var(--tablet-font-small);
        transition: var(--font-transition);
    }
    /* 오른쪽 메뉴(텍스트) */
    .menu-text {
        font-size: 14px;
        transition: var(--font-transition);
    }
}
/* 360px ~ 768px */
@media (max-width: 768px) {
    .menu-text {
        font-size: 14px;
        transition: var(--font-transition);
    }
}