@import url(common.css);

/* 섹션-1 전체 -------------------------------------------------- */
#section-1 { /* 배경 이미지 */
    background: url("../img/bg-img.svg");
    background-size: auto 60%; /* 너비, 높이 */
    background-position: 40px calc(100% - 80px); /* x축, y축 */
    background-repeat: no-repeat;
    position: relative;
    color: var(--color-white);
    transition: var(--img-transition);
}
.overlay { /* 배경 컬러 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-blue);
    pointer-events: none; /* 이벤트 차단 */
    z-index: 1;
}
/* 섹션-1 컨텐츠 -------------------------------------------------- */
.section-1-contents {
    position: relative; /* z-index는 position 속성이 설정된 요소에서만 작동하기 때문에 적용 */
    z-index: 10;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 섹션-1 컨텐츠 왼쪽(텍스트) -------------------------------------------------- */
.section-1-text {
    font-size: var(--pc-font-small);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 80px 0;
    transition: var(--font-transition);
}
.section-1-text h2 { /* 대출명가 */
    font-size: var(--pc-font-big);
    font-weight: bold;
    color: var(--color-green);
    transition: var(--font-transition);
}
.section-1-text > p:last-of-type { /* 대출명가 바로가기 */
    color: var(--color-green);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

/* 섹션-1 컨텐츠 오른쪽(form) -------------------------------------------------- */
.section-1-form {
    padding: 40px 80px;
    background-color: #3F3D56E0;
    transition: var(--padding-transition);
}
.section-1-form > p:nth-of-type(1) { /* 묻지도 따지지도 않는 대출 */
    font-size: var(--pc-font-small);
    transition: var(--font-transition);
}
.section-1-form > h2 { /* 비대면 상담받기 */
    font-size: 60px;
    transition: var(--font-transition);
    font-weight: bold;
    color: var(--color-green);
    padding: 8px 0;
}
.section-1-form > p:nth-of-type(2) { /* ☞ 신청만으로는 어떠한 신용 조회 기록도 남지 않습니다. */
    color: red;
    word-break: keep-all; /* 단어가 끊기지 않도록 설정 */
}
/* form */
.gform {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.gform > div:not(.check-box):not(.btn-box) { /* 체크박스, 제출 버튼 제외 */
    padding: 8px;
    border: 1px solid var(--color-white);
}
.gform textarea { /* 내용 */
    width: 100%;
    resize: none;
}
.gform .terms { /* 약관 */
    max-width: 400px;
    max-height: 100px;
    overflow-y: scroll;
    white-space: pre-wrap;
}
.gform .btn-send { /* 제출 버튼 */
    width: 100%;
    text-align: center;
    height: 30px;
    padding: 8px 0;
    color: black;
    cursor: pointer;
    background-color: var(--color-green);
}
.gform .btn-send:disabled {  /* 제출 버튼 비활성화 시 */
    background-color: #CCC;
    cursor: not-allowed;
}
.submit-message {
    padding-top: 8px;
}
/* 인풋 */
.gform input:not(#checkbox) {
    width: 100%;
}
.gform input::placeholder, .gform textarea::placeholder {
    color: #CCC;
    white-space: pre-line;
}
/* 스크롤 */
.gform textarea::-webkit-scrollbar, .gform .terms::-webkit-scrollbar {
    width: 8px;
}

.gform textarea::-webkit-scrollbar-thumb, .gform .terms::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-blue);
}

.gform textarea::-webkit-scrollbar-track, .gform .terms::-webkit-scrollbar-track {
    background-color: var(--color-white);
}

/* 미디어 쿼리 -------------------------------------------------- */
/* 768px ~ 1200px */
@media (max-width: 1200px) {
    .section-1-contents {
        flex-direction: column;
    }
    /* 왼쪽(텍스트) */
    .section-1-text { /* 왼쪽 전체 */
        font-size: var(--tablet-font-small);
        transition: var(--font-transition);
        padding-bottom: 160px;
    }
    .section-1-text h2 { /* 대출명가 */
        font-size: var(--tablet-font-big);
        transition: var(--font-transition);
    }
    /* 오른쪽(form) */
    .section-1-form > p:nth-of-type(1) { /* 묻지도 따지지도 않는 대출 */
        font-size: var(--tablet-font-small);
        transition: var(--font-transition);
    }
    .section-1-form > h2 { /* 비대면 상담받기 */
        font-size: var(--tablet-font-big);
        transition: var(--font-transition);
    }
}
/* 360px ~ 768px */
@media (max-width: 768px) {
    /* 왼쪽(텍스트) */
    .section-1-text { /* 왼쪽 전체 */
        font-size: var(--mobile-font-small);
        transition: var(--font-transition);
    }
    .section-1-text h2 { /* 대출명가 */
        font-size: var(--mobile-font-big);
        transition: var(--font-transition);
    }
    /* 오른쪽(form) */
    .section-1-form {
        padding: 28px;
        transition: var(--padding-transition);
    }
    .section-1-form > p:nth-of-type(1) { /* 묻지도 따지지도 않는 대출 */
        font-size: 20px;
        transition: var(--font-transition);
    }
    .section-1-form > h2 { /* 비대면 상담받기 */
        font-size: 36px;
        transition: var(--font-transition);
    }
}

/* 이미지 크기 변경 미디어쿼리 -------------------------------------------------- */
@media (max-width: 1200px) {
    #section-1 {
        background-size: auto 50%;
        background-position: right 30%;
        transition: var(--img-transition);
    }
}
@media (max-width: 768px) {
    #section-1 {
        background-size: auto 25%;
        transition: var(--img-transition);
    }
}